table {
  font-weight: 400;

  width: 59%;
  text-align: center;
  border-collapse: collapse;
}
.total_nssf_nhdf,
.taxable_income {
  color: white;
}
.calc_button {
  background-color: rgb(241, 147, 55);
  height: 30px;
  width: 80px;
  border-radius: 10px;
  border-color: rgb(241, 147, 55);
}

.container_div {
  position: relative;
  display: flex;
  background-color: azure;
  height: 600px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  /* align-items: center; */
}

.basic_salary {
  width: 80px;
}

.benefits {
  width: 80px;
}

.tittle {
  font-size: 35px;
  margin-bottom: 1px;
  font-family: blackon_white;
}

.tittle_div {
  position: absolute;
  width: 50vw;
}

.input_div {
  position: absolute;
  top: 48%;
  width: 50vw;
  margin-top: -65px;
}

.table_div {
  position: absolute;
  top: 47%;
  width: 50vw;
  left: 32%;
}

label {
  font-family: font_bankp;
  font-size: 11px;
}

.icons_div {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 2%;

  right: 1%;
}

.fa-linkedin {
  margin-left: 18px;
  margin-right: 18px;
  color: rgb(34, 156, 215);
}
.fa-twitter {
  color: rgb(34, 156, 215);
}
.fa-github {
  color: rgb(34, 156, 215);
}
.total_td {
  border-color: azure;
}
.description {
  font-family: font_verily;
  font-size: 10px;
}

.copyright_div {
  position: absolute;
  display: flex;
  height: 50px;
  width: 220px;
  bottom: 1%;
  align-items: baseline;
}

/* Imported Fonts */

@font-face {
  font-family: font_montbold;
  src: url(/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: font_montreg;
  src: url(/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: font_verily;
  src: url(/fonts/VerilySerifMono.otf);
}
@font-face {
  font-family: font_calina;
  src: url(fonts/Calinastiya\ demo.ttf);
}
@font-face {
  font-family: blackon_white;
  src: url(fonts/White\ On\ Black.ttf);
}
@font-face {
  font-family: font_bankp;
  src: url(/fonts/F25_Bank_Printer.ttf);
}

/* Responsiveness */

@media (min-width: 200px) and (max-width: 495px) {
  .container_div {
    position: relative;
    /* flex-direction: column;
      justify-content: space-around; */
    height: 900px;
  }
  .input_div {
    top: 35%;
    left: 14%;
  }
  .table_div {
    top: 48%;
    left: 16%;
    /* background-color: blue; */
  }
  table {
    width: 200px;
  }
  img {
    width: 200px;
    height: 100px;
    margin-top: -100px;
    margin-bottom: -23px;
  }
  .tittle_div {
    left: 10%;
    top: 5%;
  }
  .basic_salary {
    margin-left: 89px;
    margin-top: 5px;
  }
  .benefits {
    margin-left: 82px;
    margin-top: 5px;
  }

  .calc_button {
    margin-top: 12px;
    margin-left: 80px;
  }
  .copyright_div {
    position: absolute;
    bottom: -4%;
  }
  .fa-linkedin,
  .fa-github,
  .fa-twitter {
    width: 10px;
    height: 10px;
  }
  .fa-twitter {
    margin-right: 30px;
  }
}
@media (min-width: 495.1px) and (max-width: 564.9px) {
  .container_div {
    position: relative;
    height: 780px;
  }
  img {
    width: 200px;
    /* height: 100px; */
  }
  .input_div {
    position: absolute;
    top: 45%;
  }
  .basic_salary {
    margin-bottom: 20px;
  }
  .benefits {
    margin-bottom: 20px;
  }
  .ben_label {
    margin-left: 27px;
  }
  .calc_button {
    margin-left: 130px;
  }
  .table_div {
    position: absolute;
    top: 55%;
    /* background-color: pink; */
    left: 25%;
  }
  table {
    width: 250px;
  }
}
@media (min-width: 565px) and (max-width: 762px) {
  .container_div {
    position: relative;
    height: 1000px;
  }
  img {
    width: 220px;
    height: 150px;
  }
  .input_div {
    top: 40%;
  }
  .basic_salary {
    margin-right: 60px;
    margin-bottom: 20px;
  }
  .ben_label {
    margin-left: 27px;
  }
  .calc_button {
    margin-top: 20px;
    margin-left: 125px;
  }

  table {
    height: 300px;
    width: 300px;
  }
  .table_div {
    left: 22%;
    /* background-color: green; */
  }
}

@media (min-width: 761.9px) and (max-width: 804.9px) {
  .container_div {
    height: 1030px;
  }
  .tittle_div {
    top: 9%;
  }
  .input_div {
    top: 40%;
    left: 28%;
  }
  .basic_salary {
    margin-right: 90px;
  }
  .ben_label {
    margin-left: 28px;
  }
  .benefits {
    margin-top: 20px;
    margin-right: 90px;
    margin-bottom: 20px;
  }
  .calc_button {
    margin-left: 125px;
  }
  .table_div {
    top: 50%;
    left: 29%;
  }
}

@media (min-width: 805px) and (max-width: 1000px) {
  .container_div {
    position: relative;
    /* flex-direction: column;
      justify-content: space-around; */
    height: 1180px;
  }
  img {
    width: 250px;
    height: 150px;
    margin-top: -150px;
  }
  .tittle_div {
    top: 20%;
  }
  .input_div {
    top: 40%;
  }
  .basic_salary {
    margin-right: 180px;
  }
  .benefits {
    margin-right: 180px;
    margin-top: 20px;
    /* margin-left: 30px; */
  }

  .calc_button {
    margin-top: 20px;
    margin-left: 120px;
  }

  .ben_label {
    margin-left: 27px;
  }
  .table_div {
    width: 100%;
    left: 22%;
    /* background-color: red; */
  }
  table {
    height: 300px;
  }
  .icons_div {
    right: 4%;
  }
}

